/* ************ Modules ************ */
.jlce_list_container {
    background-color: #ffffff;
    border: 1px solid #d3d8db;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.jlce_list_container .panel-heading {
    color: #555;
    font-family: Ubuntu Condensed, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jlce_list_container .panel-heading i.icon-list {
    margin-right: 3px;
}

.jlcedemo.row label.form-control-label.translation-label-es {
    font-weight: 600;
}

.jlce-center-center {
    margin: 15% auto;
    width: 50%;
}

.jlce-h1 {
    font-size: 4rem;
    text-align: center;
}

.jlce-h2 {
    font-size: 1rem;
    text-align: center;
}

.module-item.module-item-list[data-name="jlcedemo"] button.dropdown-toggle,
.module-item.module-item-list[data-name="jlcedemo"] button.dropdown-toggle::after {
    width: 0;
    height: 0;
    visibility: hidden;
    color: transparent;
    display: none;
}

.module-item.module-item-list[data-name="jlcedemo"] a.btn.btn-primary-reverse.btn-outline-primary {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/* **************** Admin Orders **************** */

.adminorders .cellProductActions, 
.adminorders .product_actions, 
.adminorders  #addProductBtn {
    display: none;
}

.order-product-customization p > strong {
    color: #363a41;
}

.jlce_Measures_div ul {
    float: left;
    list-style: none;
}

.jlce_Measures_div ul:nth-child(2) {
    padding-left: 0;
}

/* **************** Admin Products **************** */

.customFieldCollection li:has(input[value="jlce_Measures"]) {
    display: none;
}