/* Display Home */
.container.jlcedemo.dispHome {
    background-color: #c0d6de;
    padding: 12px 0 1px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 14px;
}

/* Display Footer Before */
.container.jlcedemo.dispFooterBef {
    padding: 12px 0 1px 12px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 25px;
    color: #333333;
    border: 1px solid #6c757d;
}

/* Display Nav */
.header-nav .small .container.jlcedemo.dispNav {
    width: fit-content;
    display: inline-block;
    margin-top: 15px;
}

.container.jlcedemo.dispNav p {
    padding: 0 10px;
    border-radius: 5px;
}

.jlcedemo i.material-icons {
    padding-top: 3px;
    color: #555555;
}

img.jlce-weather-icon {
    width: 25px;
    padding-bottom: 3px;
    margin-left: -2px;
}

/* Product */
.container.jlcedemo.displayProductAdditionalInfo {
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 1px;
    background-color: #f7dec8;
    text-align: center;
    border-radius: 5px;
}

.product-discount span.regular-price {
    display: none;
}

/* Order confirmation */
.container.jlcedemo.displayOrderConfirmation {
    height: 350px;
}

.jlce_hide {
    opacity: 0;
    display: none;
}

.jlce_card {
    width: 300px;
    height: 96px;
    position: relative;
}

.jlce_base {
    width: 300px;
    height: 96px;
    line-height: 1.5rem;
    text-align: center;
}

.jlce_base, #scratch {
    position: absolute;
    top: 60px;
    left: 145px;
    cursor: grabbing;
}

#scratch {
    width: 300px;
    height: 120px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.jlce_card > img {
    width: 480px;
    box-shadow: 5px 5px 5px 2px;
    border-radius: 20px;
}

#jlce_voucher_amount, #jlce_voucher_code {
    display: block;
}

.jlce_voucher_title {
    width: 480px;
    text-align: center;
    margin-bottom: 12px;
}

.jlce_voucher_title h2 {
    color: #ce622c;
}

.jlce_base > span#jlce_voucher_label {
    display: block;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .jlce_card > img,
    .jlce_voucher_title {
        width: 420px;
    }

    .jlce_base, #scratch {
        top: 40px;
        left: 100px;
    }
}

@media (max-width: 499px) {
    .container.jlcedemo.displayOrderConfirmation {
        padding: 0;
    }
}

@media (max-width: 470px) {
    .jlce_card > img,
    .jlce_voucher_title {
        width: 320px;
    }

    .jlce_base, #scratch {
        top: 15px;
        left: 10px;
    }
}

